* { box-sizing: border-box; }
body {
  background-image: url('../background/Universe5.jpg');
  background-size: 100%;
  background-attachment: fixed;
  line-height: 1.0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(0,0,0,0.87);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background: #9d1328;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #171717;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.row {
  width: 100%;
}
.card {
  margin: 0;
  min-height: 20vh;
  opacity: 0.9;
  filter: Alpha(opacity=90);
  position: relative;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}
.card .card-content {
  padding: 24px;
  transition: 1s ease-in;
}
.card-content {
  min-height: 10%;
}
.card .card-action {
  position: relative;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 16px 24px;
  font-size: 1rem;
  text-align: center;
  transition: 1s ease-in;
}
a {
  text-decoration: none;
}
.red-text {
  color: #F44336 !important;
}
.card .card-action.dark {
  background-color: #171717;
  border-top: 0;
}
.card .card-content.dark {
  background-color: rgba(23, 23, 23, 0.95);
  color: aliceblue;
}
.fixed-action-btn.active ul {
  visibility: visible;
}
.fixed-action-btn ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 35px;
    margin: 0;
    visibility: hidden;
}
.card .card-content p {
  margin: 0;
}
.card .card-image img {
  border-radius: 2px;
  width: 100%;
}
.btn-floating i {
  width: inherit;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: inherit;
}
.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
}
.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}
.btn-floating {
  display: inline-block;
  color: #fff;
  overflow: hidden;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
}
.fixed-action-btn ul li {
  margin-bottom: 15px;
  cursor: pointer;
}
.card, .btn, li {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2);
}
.card:hover {
  -webkit-box-shadow: 5px 6px 2px 1px rgba(0, 0, 0, 0.33);
  box-shadow: 5px 6px 2px 1px rgba(0, 0, 0, 0.33);
}
.teal.darken-4 {
  background-color: #004d40 !important;
}
.teal-text {
  color: #009688 !important;
}
ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  margin-right: 24px;
}
.responsive-img {
  width: 100%;
  height: 100%;
  margin-bottom: -5px;
}
.icone.first {
  margin-right: 12vh;
}
.icone.second {
  margin-right: 5vh;
}
.icone.third {
  margin-right: -2vh;
}
.grid-sizer,
.grid-item {
  width: 25%;
  padding: 1%;
}
.flow-text {
  font-size: 1.4em;
}
@media screen and (max-width: 380px) {
  .grid-sizer, .grid-item{ width: 100%; }
  body { font-size: 1rem; }
}
@media screen and (min-width: 381px) and (max-width: 499px) {
  .grid-sizer, .grid-item{ width: 50%; }
  body { font-size: 1rem; }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .grid-sizer, .grid-item{ width: 33%; }
}
@media screen and (min-width: 769px) {
  .grid-sizer, .grid-item{ width: 25%; }
}